<!DOCTYPE html>

<html>
    <head>
         <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    
    <body>
        
        <div class="container center-align">
            <div class="row">
                <h1>
                    search m8
                </h1>
            </div>
            <div class="row">
                <form method="POST">
                    <input type="text" name="search">
                    <input type="submit" class="btn-large cyan">
                </form>
            </div>
            <br>
            <br>
            <h1>
                {{ search }}
            </h1>
        </div>
        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">       </script>
    </body>
</html>